include README.md
include LICENSE.txt
include CHANGELOG.md
include example.py
recursive-include pynzb *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
global-exclude test_*.nzb 